<div class="row">
  <div class="col-md-12">
    <h2>Set Name</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
<h3>Set Number</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
<p>Theme</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <img src="" alt="" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <small>Tags</small>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-warning">Edit Book</button>
  </div>
</div>
