
<!-- Bind the index from the `*ngFor` loop to a property -->
<app-legoset *ngFor [brickset]="bricksetElement" [idx]="i"></app-legoset>


<!-- <a class="dropdown-item" (click)="onEditBrickset()">Update Set</a> -->
 <!-- <a class="dropdown-item" (click)="onRemoveBrickset(idx)">Delete Set</a> -->

<div class="row">
  <div class="col-md-12">
    <h2>{{brickset.name}}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
<h3>{{brickset.year}}</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
<p>{{brickset.num_parts}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <img src="{{brickset.set_img_url}}" alt="" class="img-responsive"  style="max-height:200px"/>
  </div>
</div>


<hr />

<div class="row">
  <div class="col-md-12">
    <div class="dropdown" appDropdown>
      <button
      class="btn btn-warning dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      role="button"
      aria-haspopup="true"
      aria-expanded="false">
        Edit Set
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <!-- <a class="dropdown-item" (click)="onEditBrickset()">Update Set</a> -->
        <!-- <a class="dropdown-item" (click)="onRemoveBrickset(idx)">Delete Set</a> -->
        <!-- <a class="dropdown-item" href="#">Something else here</a> -->
      </div>
    </div>
</div>
