<div class="row">
  <div class="col-md-12">
    <h2>{{brickset.setName}}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
<h3>{{brickset.setNumber}}</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
<p>{{brickset.theme}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <img src="{{brickset.boxArt}}" alt="" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <small>Tags</small>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-warning">Edit Book</button>
  </div>
</div>
