<a
style="cursor: pointer"
class="list-group-item clearfix"
[routerLink]="[idx]"
routerLinkActive="active"
>
  <div class="float-left">
    <h3 class="list-group-item-heading">{{ brickset.name }}</h3>
    <h4 class="list-group-item-heading">{{ brickset.set_num}}</h4>
    <p class="list-group-item-text mb-0">Year: {{ brickset.year }}</p>
    <p class="list-group-item-text mb-0">Piece Count: {{ brickset.num_parts }}</p>
  </div>
  <div class="float-right">
    <img
      src="{{ brickset.set_img_url }}"
      alt="{{ brickset.set_img_url }}"
      class="img-responsive rounded"
      style="max-height: 100px"
    />
  </div>
</a>

